# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.ruff_cache/

# AI
.claude/
.serena/
CLAUDE.md
AGENTS.md

# VSCode
.vscode/

# Environment
.env
.venv/

# Frontend
node_modules/

# Rust
target/
Cargo.lock

.fastembed_cache/
